/* le body */
body{
    margin: 0;
}
/* style du header */
header{
    display: flex;
    align-items: center;
    background-color: #4d3566;
    color: #ffffff;
    height: 100px;
}
.Horizontal__Logo{

    display: flex;
    justify-content: center;    
    height: 100%;
    width: 50%;
}
.image__logo{
    margin: 10px;
    height: 70%;
}
/* Le menu */
.menunul{
    display: flex;
    justify-content: center;
    gap: 20px;

    list-style: none;
    margin: 0;
    padding: 0;
}
.menunul a {
    text-decoration: none;
    color: #ffffff;
    padding: 10px 15px;
    display: block;
    /*Police du menu */
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1.2rem;
}
/* Fin du menu */
/* début du main */
/* Css du titre */
.Image__Title{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0 , 0.4)), url(image/chien-yorkshire-course-herbe.jpg);
    background-position: center;
    background-size: cover;
    height: 620px;
    width: 100%;
    
}
.Image__Title h1{
    color: #ffffff;
}
.Title{
    width: 40%;
    margin: 90px 100px;
    display: inline-block;
    font-size: 2rem;
    /*Police du menu */
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    
}
/* Fin du CSS du titre */
/* Début du Css First__section */
.first__section{
    background-color: #FFFFFF;
    text-align: center;
    margin: 150px;
}
.first__section h2{
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 3.5rem;
    color: #4d3566;
}
.first__section p{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1.8rem;
    

}
/* Début seconde section */
.Seconde__Section{
    background-color: #ece7f1;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 30px;
    min-height: 700px;
    width: 100%;
}
.image__Francoise{
    margin: auto 50px;
    max-height: 650px;
    width: auto;
    
}
.Titre__Seconde__Section{
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 2.5rem;
    color: #4d3566;
    

}
.Titre__Seconde__Section h2{
    margin-top: 0;
}
.paragraphe__seconde__section{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1.3rem;

}
.text{
    height: 100%;
    margin: 10px;
}

/* Stylisation du Button mais je crois je vais le transformé en lien*/
button{
    background-color: #b17f4a;
    padding: 15px;
    width: 250px;
    border-radius: 20px;
    color: #FFFFFF;
}
/* Fin de la stylisation de la seconde section*/
/*Début de la troisième section */
.Thirth__Section{
    width: 100%;

}
.image__Thirth__Section{
    width: 100%;
    height: 150;
    display: block;
}
.Fond__yellow{
    background-color: #b17f4a;
    color: #FFFFFF;
    height: 150px;
}
.Fond__yellow h2{
    margin: 0;
    padding: 20px;
    text-align: center;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 2.5rem;

}
/* Fin de la troisième section */ 
/* Début de la quatrième section */
.Fourth__section{
    margin: 100px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.Fourth__section img{
    border-radius: 50%;
    border: 10px solid #916fae; 
}
.Fourth__section h3{
    color: #4d3566;
    font-size: 1.5rem;
}
.Fourth__section p{
    font-size: 1.2rem;

}

.Carte_Fourth_Section{
    padding: 20px 10px;
    border-radius: 25px;
    background-color: #4d3566;

}
/* Fin de la stylisation du main */
/* style du footer */
/* la photo du footer */
.chienentier{
    width: 100%;
    height: auto;
}
/* Fin de section de l'image du footer */

footer{
    background-color: #916fae;
    color: #ffffff;
}
.info{
    display: flex;
    justify-content: space-around;
    padding: 40px;
}
.adresse{
    margin: 0px;
    font-size: 1.2rem;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    width: 33%;
    

}
.adresse p{
    margin: 0;
}
.adresse a{
    text-decoration: none;
    color: #FFFFFF;
}
.Legal__notice{
    color: #4d3566;
}
.Logo__vertical{
    margin: 0 auto;
    width: 33%;
    display: flex;
    justify-content: center;
}
.Logo__vertical img{
    width: auto;
    max-width: 100px;
    height: auto;
}
/* debut logo réseau sociaux */
.Reseau__sociaux{
    width: 33%;
}
.Reseau__sociaux h3{
    text-align: end;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 2.5rem;

}
.logosociaux{
    display: flex;
    justify-content: end;
    font-size: 2.5rem;
}